<mat-card class="main-container">
  <mat-card-header>
    <mat-card-title>
      Create Calculate
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="child-width-100-percent">
      <mat-form-field>
        <input [(ngModel)]="name" matInput placeholder="Title TH" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="nameEN" matInput placeholder="Title EN" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
    <div style="display: flex; flex-direction: row-reverse; margin-top: 20px;">
      <button (click)="onNewForm()" mat-raised-button color="primary">New Form</button>
    </div>
    <mat-card *ngFor="let form of formList;" style="margin-top: 20px;">
      <mat-card-header class="child-div-full-width">
        <mat-card-title style="display: flex;">
          <span style="flex:auto;">
            {{form.type}}
          </span>
          <mat-radio-group (change)="onChangeForm($event, form)">
            <mat-radio-button style="font-size: 13px; margin-left: 5px;" value="Number"
                              checked="{{form.type==='Number'}}">Number
            </mat-radio-button>
            <mat-radio-button style="font-size: 13px; margin-left: 5px;" value="Selection"
                              checked="{{form.type==='Selection'}}">Selection
            </mat-radio-button>
          </mat-radio-group>
          <button mat-icon-button color="accent" style="margin-top: -5px; color: red; margin-left: 30px;">
            <mat-icon aria-label="Example icon-button with a heart icon" (click)="removeForm(form)">clear</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="child-width-100-percent">
          <mat-form-field>
            <input [(ngModel)]="form.name" matInput placeholder="Title TH" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="form.nameEN" matInput placeholder="Title EN" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <div *ngIf="form.type==='Selection'">
            <mat-divider></mat-divider>
            <div style="display: flex; padding-top: 10px;">
              <span style="flex:auto;"></span>
              <button (click)="onNewOption(form)" mat-raised-button color="primary">New Option</button>
            </div>
            <p *ngFor="let selection of form.selectionList;">
              <mat-form-field>
                <input [(ngModel)]="selection.name" matInput placeholder="Option TH" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
              <mat-form-field>
                <input [(ngModel)]="selection.nameEN" matInput placeholder="Option EN" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
              <mat-form-field>
                <input type="number" [(ngModel)]="selection.value" matInput placeholder="Value" [ngModelOptions]="{standalone: true}"/>
              </mat-form-field>
              <button mat-icon-button color="accent" style="margin-top: -5px; color: red; margin-left: 30px;">
                <mat-icon aria-label="Example icon-button with a heart icon" (click)="removeOption(form.selectionList, selection)">clear</mat-icon>
              </button>
            </p>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 50px;">
      <mat-card-header class="child-div-full-width">
        <mat-card-title style="display: flex;">
          <span style="flex:auto;">
            Formula
          </span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="child-width-100-percent">
          <mat-form-field>
            <input [(ngModel)]="formula" matInput placeholder="Formula" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
          <small>
            use v[Number of block start at 0] as variable<br>
            such as first block is v[0], and second block is v[1]<br>
            <br>
            use javascript as calculate pattern<br>
            such as v[0]+v[1] is combine first and second block
          </small>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onCreate()">Create</button>
  </mat-card-actions>
</mat-card>
