<mat-card class="main-container">
  <mat-card-header>
    <mat-card-title>
      Edit Article
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="child-width-100-percent">
      <mat-divider></mat-divider>
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
      <td-text-editor [(ngModel)]="contentText" [options]="markdownOptions" [ngModelOptions]="{standalone: true}"></td-text-editor>
      <mat-form-field>
        <input matInput placeholder="Title EN" [(ngModel)]="titleEN" [ngModelOptions]="{standalone: true}"/>
      </mat-form-field>
      <td-text-editor [(ngModel)]="contentTextEN" [options]="markdownOptions" [ngModelOptions]="{standalone: true}"></td-text-editor>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
  </mat-card-actions>
</mat-card>
