/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
mat-card.main-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
