/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
mat-card.main-container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.child-width-100-percent > *{
  width: 100%;
}
* {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
}
mat-card-header.child-div-full-width > div {
  width: 100%;
}
